body{
	width:70%;
	 margin: auto;
	 margin-top:50px;
	 margin-bottom:50px;
	 box-shadow: -100px 100px 200px -90px #8c8c8c;
	 border:0.25px solid #DCDCDC;
	 min-width:500px;
}

section{
	 background-color: #f0f0f0; /*color!*/
}

h1{
	margin:35px 0 0 0;
	font-size:20pt;
}

br{
	font-size:28pt;
}

h2{
	font-size:16pt;
}

h3{
	font-size:12pt;
}

h1,h2,h3{font-family:CENTURY GOTHIC;}

h4,li,td{
	font-family:ARIAL;
	font-size:12pt;
}

h4{
	font-size:11pt;
	font-weight:normal;
}

.foto{
	float:left;
	width:30%;
	margin-bottom: -4px;
}

.name{
	float:left;
	width:67%;
	padding-left:3%;
	margin-bottom: 20px;
}

nav{
	float:left;
	width:20%;
	padding: 0 5%;
	background-color: #39383d;
}

main{
	float:right;
	width:59%;
	padding:0 8% 0 3%;
	margin-bottom: 0;
}

.block-stop{
	clear: both;
	height: 0.25px;
}

.img{
	width:100%;
}

.color-line {
  height: 2px;
  width:100%;
  background: repeating-linear-gradient(to right,
    #53bfdf  0%  ,   #53bfdf  5%,
    #C0C0C0 5%  ,   #C0C0C0  90%,
    #f0f0f0    90%  ,   #f0f0f0    100%
  );
  padding:0;
  margin-top:-12px;
  margin-bottom:15px;
}

h3{
	color:#53bfdf;
}

h4, table{
	color: #808080;
} 

.table {
  border-collapse: collapse;
  margin:30px 0;
  width:100%;

}

 table {
  margin-bottom:30px;
  width:100%;
  border-spacing: 0px 15px;
}


  td {
  	padding:5px 15px ;
  	width:70%;
}

.pre-wrap{
	white-space:pre-wrap;
}

.color-line-html{
	height: 2px;
  width:80%;
  background: repeating-linear-gradient(to right,
    #53bfdf  0%  ,   #53bfdf 70%,
    #C0C0C0 70%  ,   #C0C0C0  100%
  );
}

.color-line-css{
	height: 2px;
  width:80%;
  background: repeating-linear-gradient(to right,
    #53bfdf  0%  ,   #53bfdf  50%,
    #C0C0C0 50%  ,   #C0C0C0  100%
  );
}

.color-line-c{
	height: 2px;
  width:80%;
  background: repeating-linear-gradient(to right,
    #53bfdf  0%  ,   #53bfdf  60%,
    #C0C0C0 60%  ,   #C0C0C0  100%
  );
}

.color-line-js{
	height: 2px;
  width:80%;
  background: repeating-linear-gradient(to right,
    #53bfdf  0%  ,   #53bfdf  30%,
    #C0C0C0 30%  ,   #C0C0C0  100%
  );
}

.color-line-sql{
	height: 2px;
  width:80%;
  background: repeating-linear-gradient(to right,
    #53bfdf  0%  ,   #53bfdf  50%,
    #C0C0C0 50%  ,   #C0C0C0  100%
  );
}

.color-line-english{
	height: 2px;
  width:80%;
  background: repeating-linear-gradient(to right,
    #53bfdf  0%  ,   #53bfdf  45%,
    #C0C0C0 45%  ,   #C0C0C0  100%
  );
}

td:first-child{
	border-right: 2px solid lightgray;
	width:30%;
	min-width:80px;
}

nav h4, a{
	color: white;
	text-decoration: none;
}

nav h3{
	margin-top: 20px;
}

a:hover {color:#53bfdf;}

li{padding:5px 0;}

.proz {word-spacing: 2px;}

nav .color-line {
  height: 2px;
  width:90%;
  background: repeating-linear-gradient(to right,
    #53bfdf  0%  ,   #53bfdf  10%,
    white  10%  ,   white  90%,
    #39383d   90%  ,   #39383d   100%
  );
  padding:0;
  margin-top:-12px;}

  ul{
  	list-style: none;
  	color:white;
  	padding:0;
  }

.last{margin-bottom: 25px;}